# Cleans out deleted branches
alias clean_branches="git branch -r | awk '{print $1}' | egrep -v -f /dev/fd/0 <(git branch -vv | grep origin) | awk '{print $1}' | xargs git branch -d"

# Adds a spacer to the dock
alias addspacer="defaults write com.apple.dock persistent-apps -array-add '{tile-data={}; tile-type=\"small-spacer-tile\";}' && killall Dock"

# Quick access to work repositories
devrepo() { 
  cd ~/Projects/palmetto/$1
	code . 
}

openrepo() { 
	cd ~/Projects/palmetto/$1 
}

# Start code review. Usage: review {repo_name} {branch_name}
review() {
  openrepo $1
	git fetch 
  git checkout $2
	git pull
	code .
}

alias gs="git status"

alias webserver="python -m SimpleHTTPServer 8000"

alias seed-database="rails db:drop db:create db:migrate VERBOSE=false dynamo:create && rails db:seed db:schema:dump"

activatePoetry() {
  source $(poetry env info --path)/bin/activate
}
